
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/css/owl.css">



    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/css/owl.css">


    <div class="page-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>About Us</h1>
            <span>DELIVER UNIQUE FINANCIAL SOLUTIONS</span>
          </div>
        </div>
      </div>
    </div>

    <div class="more-info about-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="more-info-content">
              <div class="row">
                <div class="col-md-6 align-self-center">
                  <div class="right-content">
                    <span>our solid background on finance</span>
                    <h2>Get to know about <em>our company</em></h2>
                    <p class="text-justify">Business Vruddhi has started jouney from 30.09.2020 to carve new path in industry. We belive in delivering quality service and value addition to our clients. We works on identical financial services across india. We are commited to enrich our clients and stackholers by adding values and fulfilling their needs. </p>
                    <a href="" class="filled-button">Read More</a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="left-image">
                    <img src="/images/about-image.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team">
      <div class="container">
        <div class="row" style="
        justify-content: center;">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Our team <em>member</em></h2>
              <span>MOTIVATED AND DEDICATED TEAM</span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-item">
              <img src="/images/team_01.jpg" alt="" height="250px" width="370px">
              <div class="down-content">
                <h4>Viral Patel</h4>
                <span>Founder</span>
                <p class="text-justify">Viral Patel is Passionate and dynamic leader with great vision. He has more than 3.5 years of corporate experience with worlds leading organisation. He has done MBA in Marketing and have Experiece in market research.</p>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>  
    
        </div>
      </div>
    </div>

    <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>WE PROVIDE ONE STOP SOLUTION</span>
            <h2>Our solutions for your <em>business growth</em></h2>
            <p>Business Vruddhi is a place where you can get all your finance related challenges to be solved with a expirinced proffessionals across india 
            <br><br>We believe in making you enrich by serving our unique services with value additions.</p>
            <a href="" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">1300</div>
                <div class="count-title">Plus Cases &nbsp; Solved</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">250</div>
                <div class="count-title">Crores<br> Recovered</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">750</div>
                <div class="count-title">Plus Satisfied Clients</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">50</div>
                <div class="count-title">Seminars and Webinars</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="testimonials">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>What they say <em>about us</em></h2>
              <span>testimonials from our greatest clients</span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-testimonials owl-carousel">
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>George Walker</h4>
                  <span>Chief Financial Analyst</span>
                  <p>"Nulla ullamcorper, ipsum vel condimentum congue, mi odio vehicula tellus, sit amet malesuada justo sem sit amet quam. Pellentesque in sagittis lacus."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>John Smith</h4>
                  <span>Market Specialist</span>
                  <p>"In eget leo ante. Sed nibh leo, laoreet accumsan euismod quis, scelerisque a nunc. Mauris accumsan, arcu id ornare malesuada, est nulla luctus nisi."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>David Wood</h4>
                  <span>Chief Accountant</span>
                  <p class="text-justify">"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
              <div class="testimonial-item">
                <div class="inner-content">
                  <h4>Andrew Boom</h4>
                  <span>Marketing Head</span>
                  <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
                </div>
                <img src="http://placehold.it/60x60" alt="">
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  