
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="/css/owl.css">


   

    <!-- Banner Starts Here -->
    <div class="main-banner header-text" id="top">
      <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
          <div class="img-fill">
              <div class="text-content">
                <h6>We are ready to help you</h6>
                <h4>Money Recovery</h4>
                <p>Is your client not paying your money back ? <br> We have recovered more then 250 crores in in last 2.5 years.</p>
                <a href="contact.ejs" class="filled-button">contact us</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-2">
          <div class="img-fill">
              <div class="text-content">
                <h6>We are here to support you</h6>
                <h4>Credit Assurance</h4>
                <p>Are you afraid to do business on CREDIT ? <br> Take our service and feel cool </p>
                <a href="services.ejs" class="filled-button">our services</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
          <div class="img-fill">
              <div class="text-content">
                <h6>We are here to support you</h6>
                <h4>Funding</h4>
                <p>Are you struggeling for fund in your business ? <br> We can arrange fund as per your requirement.</p>
                <a href="about.ejs" class="filled-button">learn more</a>
              </div>
          </div>
        </div>
        <!-- // Item -->
      </div>
  </div>
  <!-- Banner Ends Here -->

  <div class="request-form">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>Request a call back right now ?</h4>
          <span>Mauris ut dapibus velit cras interdum nisl ac urna tempor mollis.</span>
        </div>
        <div class="col-md-4">
          <a href="contact.html" class="border-button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Financial <em>Services</em></h2>
          
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="/images/service_01.jpg" alt="">
            <div class="down-content">
              <h4>Money Recovery</h4>
              <p>
                <span style="font-size:15px">&#187;</span>&nbsp;Party doesn't pick up the phone?<br>
                &#187;&nbsp;Party promises but doesn't pay?<br>
                &#187;&nbsp;Party is buying from others,holding your money?
              </p>
              <a href="/service/#tabs-1" class="filled-button filled-in-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="/images/service_02.jpg" alt="">
            <div class="down-content">
              <h4>Credit Assurance</h4>
              <p>
                &#187;&nbsp;Are you doing business on Credit?<br>
                &#187;&nbsp;Does party pay you on time ?<br>
                &#187;&nbsp;Do you want to assure your given credit?
              </p>
              <a href="/service/#tabs-2" class="filled-button filled-in-button">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-item">
            <img src="/images/service_03.jpg" alt="">
            <div class="down-content">
              <h4>Funding</h4>
              <p>
                &#187;&nbsp;Do you struggle for fund in your business?<br>
                &#187;&nbsp;Do you want to expand business but not have a sufficient fund?<br> 
                &#187;&nbsp;Do you have project and looking for fund ?
              </p>
              <a href="" class="filled-button filled-in-button">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="left-content">
            <span>WE PROVIDE ONE STOP SOLUTION</span>
            <h2>Our solutions for your <em>business growth</em></h2>
            <p>Business Vruddhi is a place where you can get all your finance related challenges to be solved with a expirinced proffessionals across india 
            <br><br>We believe in making you enrich by serving our unique services with value additions.</p>
            <a href="/service/#tabs-3" class="filled-button">Read More</a>
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="row">
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">1300</div>
                <div class="count-title">Plus Cases &nbsp; Solved</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">250</div>
                <div class="count-title">Crores<br> Recovered</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">750</div>
                <div class="count-title">Plus Satisfied Clients</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="count-area-content">
                <div class="count-digit">50</div>
                <div class="count-title">Seminars and Webinars</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-info">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="more-info-content">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="/images/more-info.jpg" alt="">
                </div>
              </div>
              <div class="col-md-6 align-self-center">
                <div class="right-content">
                  <span>Who we are</span>
                  <h2>Get to know about <em>our company</em></h2>
                  <p>Business Vruddhi is unique platform where client get all kind of financial consultancy at a single point. We are planning to catter multiple unique and higly demanded financial services to our clients across india. <br><br>Business Vruddhi is working on its vision to enrich stackholders by being unique in industry</p>
                  <a href="#" class="filled-button">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>What they say <em>about us</em></h2>
            <span>testimonials from our greatest clients</span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="owl-testimonials owl-carousel">
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4> Coming Soon... </h4>
                <span>NA </span>
                <p></p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Coming Soon</h4>
                <span> NA </span>
                <p></p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>David Wood</h4>
                <span>Chief Accountant</span>
                <p>"Ut ultricies maximus turpis, in sollicitudin ligula posuere vel. Donec finibus maximus neque, vitae egestas quam imperdiet nec. Proin nec mauris eu tortor consectetur tristique."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
            <div class="testimonial-item">
              <div class="inner-content">
                <h4>Andrew Boom</h4>
                <span>Marketing Head</span>
                <p>"Curabitur sollicitudin, tortor at suscipit volutpat, nisi arcu aliquet dui, vitae semper sem turpis quis libero. Quisque vulputate lacinia nisl ac lobortis."</p>
              </div>
              <img src="http://placehold.it/60x60" alt="">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="callback-form">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Request a <em>call back</em></h2>
            <span> DROP YOUR CONTACT DETAILS </span>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact-form">
            <form id="contact" action="/contact_feedback" method="POST">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="email" type="text" class="form-control" id="email" pattern="[^ @]*@[^ @]*" placeholder="E-Mail Address" required="">
                  </fieldset>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                  <fieldset>
                    <input name="number" type="text" class="form-control" id="subject" placeholder="Mobile Number" required="">
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="border-button">Send Message</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="partners">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-partners owl-carousel">
          
            <div class="partner-item">
              <img src="/images/client-01.png" title="1" alt="1">
            </div>
            
            <div class="partner-item">
              <img src="/images/client-01.png" title="2" alt="2">
            </div>
            
            <div class="partner-item">
              <img src="/images/client-01.png" title="3" alt="3">
            </div>
            
            <div class="partner-item">
              <img src="/images/client-01.png" title="4" alt="4">
            </div>
            
            <div class="partner-item">
              <img src="/images/client-01.png" title="5" alt="5">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>



            
